{% assign spotlight_article = articles[section.settings.spotlight_article] %}
{% assign article_2 = articles[section.settings.article_2] %}
{% assign article_3 = articles[section.settings.article_3] %}

<section id="blog-featured-grid">
    <div class="Site__page-width">
        <div class="featured-grid">
            <div class="featured-spotlight">
                <div id="Blog-article-{{ spotlight_article.handle }}" class="Blog-f__article" data-index="{{ forloop.index }}">
                    <a href="{{ spotlight_article.url }}" class="Blog-f__article-wrap-link">
          
                      <div class="Blog-f__article-image">
          
                          {% comment %}<img src="{{ article.image | img_url: 'master' }}">{% endcomment %}
                          {% include 'responsive-image' image: spotlight_article.image %}
          
                          {% if spotlight_article.tags.size > 0 %}
                          <div class="Blog-f__label">
                            <p class="Blog-f__label-text">
                              {% for tag in spotlight_article.tags %}
                                {% if forloop.first %}
                                  {{ tag }}
                                {% endif %}
                              {% endfor %}
                            </p>
                          </div>
                          {% endif %}
          
                      </div>
          
                      {% if spotlight_article.tags.size > 0 %}
                        <div class="Blog-f__label--mobile">
                          <p class="Blog-f__label-text">
                            {% for tag in spotlight_article.tags %}
                              {% if forloop.first %}
                                {{ tag }}
                              {% endif %}
                            {% endfor %}
                          </p>
                        </div>
                      {% endif %}
          
                        <p class="Blog-f__article-title">
                          {{ spotlight_article.title }}
                        </p>
          
                      <p class="Blog-f__article-text">
                        {{ spotlight_article.excerpt_or_content | strip_html | truncatewords: 45, '...'}}
                      </p>
                      
                      <p class="Blog-f__article-link">
                        Read More &#8594;
                      </p>
                    </a>
                  </div>
            </div>
            <div class="featured-side">
                {% render 'Article-Card', article: article_2 %}
                {% render 'Article-Card', article: article_3 %}
            </div>
        </div>

    </div>
</section>

{% schema %}
{
    "name": "Blog Featured",
    "settings": [
        {
            "type": "article",
            "id": "spotlight_article",
            "label": "Spotlight Article",
            "info": "Choose an article"
        },
        {
            "type": "article",
            "id": "article_2",
            "label": "Article 2",
            "info": "Choose an article"
        },
        {
            "type": "article",
            "id": "article_3",
            "label": "Article 3",
            "info": "Choose an article"
        }
    ],
    "blocks" : []
}
{% endschema %}