
<section id="Customer__reset" class="Customer__reset">
  <article class="Customer__reset-content">

    {% comment %} Header {% endcomment %}
    <header class="Customer__reset-header">
      <span class="Customer__reset-header-hilight">
        <h1 class="Customer__reset-header-text">
          {{ section.settings.header }}
        </h1>
      </span>
    </header>

    {% comment %} Form {% endcomment %}
    <div class="Customer__reset-form">
      {% form 'reset_customer_password' %}

        {{ form.errors | default_errors }}

        <p class="Customer__reset-form-text">
          {{ 'customer.reset_password.subtext' | t: email: email }}
        </p>

        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="Customer__reset-input {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">

        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="Customer__reset-input {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <input type="submit" class="Customer__button" value="{{ 'customer.reset_password.submit' | t }}">
      {% endform %}
    </div>

  </article>
</section>

<style>
  .shopify-section--reset {
    margin-bottom: 0px !important;
  }
</style>


{% schema %}
  {
    "name": "Reset Password",
    "class": "shopify-section--reset",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Page Header",
        "default": "Reset account password"
      }
    ]
  }
{% endschema %}