{% layout none %}

<div class="Product Product--in_cart_upsell Product--in_cart_upsellupgrade-template">
    <div class="Product--in_cart_upsell--inner">

        <div class="Product--in_cart_upsell-top">
            <div class="Product--in_cart_upsell--textbox">
                <p class="Product--in_cart_upsell--title">
                {% if product.metafields.product-card.upsell-card-title != blank %}
                    {{ product.metafields.product-card.upsell-card-title }}
                {% else %}
                    Upgrade & Save!
                {% endif %}
                </p>
                {% if product.metafields.product-card.upsell-card-description != blank %}
                    <p class="Product--in_cart_upsell--description">
                        {{ product.metafields.product-card.upsell-card-description }}
                    </p>
                {% endif %}
            </div>
            <div class="Product--in_cart_upsell--image">
                <img src="{{ product.featured_image | img_url: '150x200' }}" alt="{{ product.image.alt }}">
            </div>
        </div>

        <!-- ATC Form -->
        {% form 'product', product, data-productid: product.id, id:form_id, class:'Product-gi__form', data-cart-form: '' %}

            {% comment %}
                Select element hidden when JS initializes. Safeguard for JS-disabled.
            {% endcomment %}
            <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" style="display: none">
                {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_without_trailing_zeros }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
                {% endfor %}
            </select>

            {% assign price = current_variant.price | money_without_trailing_zeros %}
            <p class="product__price{% if shop.taxes_included or shop.shipping_policy.body != blank %} product__price--has-policies{% endif %}" style="display: none">
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
                <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {% comment %} {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
                {% else %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="product__price--reg js-price">
                    {{ price }}
                </span>
                {% endif %} {% endcomment %}
                {% include 'product-unit-price', variant: current_variant %}
            </p>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__policies rte" style="display: none">
                {%- if shop.taxes_included -%}
                    {{ 'products.general.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
                </div>
            {%- endif -%}


            {% if product.available %}
            {% assign upsell_price = product.price | times: 0.8 | divided_by: 100 | round %}
      		{% assign rounded_price = upsell_price | times: 100 %}
                {% comment %}
                    This particular element has data attributes with placeholders
                    in them. The incart upsell machinery will find them and
                    replace them with actual line item properties needed for
                    the upgrade to work.

                    If you want to add your own replacements, please check the
                    InCartUpsell behavior, specifically stuff relating to the
                    replace_placeholders method on that behavior.
                {% endcomment %}
                <button id="AddToCart-{{ product.handle }}"
                    type="button"
                    class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %} Product-gi-form-btn Site__button-secondary Product--in_cart_upsell--button"
                    data-incartupsell-upgrade="{{product.selected_or_first_available_variant.id}}"
                    data-incartupsell-upgrade-from="...line_item.id"
                    data-incartupsell-upgrade-quantity="...line_item.quantity">

                <span class="Product-gi__product-text">UPGRADE </span>
                <p class="Product-gi__product-price"> {{ product.metafields.product-card.offer-price }} <span class="Product-gi__product-compare-price">{{ product.price | money}}</span> </p>
                </button><
            {% else %}
                <button type="button" class="Product-gi-form-button-sold-out Site__button-secondary Product--in_cart_upsell--button" disabled="disabled">
                <p>
                    {% if product.metafields.global.coming-soon == 'true' %}
                    Coming Soon
                    {% else %}
                    Sold Out
                    {% endif %}
                </p>
                </button>
            {% endif %}
            {% if section.settings.enable_payment_button %}
                {% unless shop.metafields.subscriptions.subscription_active and product.metafields.subscriptions.shipping_interval_frequency %}
                {{ form | payment_button }}
                {% endunless %}
            {% endif %}

        {% endform %}


    </div>
</div>